@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* header  */
.btn-dom{
    background: #EB5757;
    border-radius: 16px;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
}
/* header  end*/

/* icon style */
.fa-arrow-right{
    font-size: 15px !important;
    cursor: pointer;
    color: #EB5757;
    background-color: #eb57574b;
    padding: 12px;
    border-radius: 50%;
}
/* icon style end */

/* card style  */
img{
    height: 250px !important;
}
/* modal */
#modal-content{
    position: relative;
}
#close-icon{
    background-color: #EB5757;
    padding: 10px;
    border-radius: 50%;
}
.btn-close{
    position: absolute;
    top: -20px;
    right: -20px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414       8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

/* modal stye */
.left-card{
    background-color: #eb575758;
    border: 2px solid #EB5757;
}
.button-group{
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;
}


