@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* header  */
.btn-dom{
    background: #EB5757;
    border-radius: 16px;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
}
/* header  end*/

/* icon style */
i{
    font-size: 15px !important;
    cursor: pointer;
    color: #EB5757;
    background-color: #eb57574b;
    padding: 12px;
    border-radius: 50%;
}
/* icon style end */

/* card style  */
img{
    height: 250px !important;
}